/* FilterMenu.css */
.filter-menu-sidebar {
    width: 250px; /* Adjust the width as needed */
    height: calc(100vh - 60px); /* Full height of the viewport minus the height of the navbar */
    background-color: #f8f9fa; /* Light grey background */
    border-right: 1px solid #dee2e6; /* Right border */
    padding: 20px; /* Padding inside the sidebar */
    box-shadow: 2px 0 5px rgba(0,0,0,0.1); /* Optional shadow for better appearance */
    position: fixed; /* Fix the sidebar to the side */
    top: 100px; /* Adjust this value according to your navbar height */
    left: 0;
    overflow-y: auto; /* Scroll if content overflows */
    z-index: 1000; /* Ensure the sidebar is on top */
}

.filter-menu-sidebar .drop-down-filter-text {
    margin-bottom: 20px; /* Space between filter elements */
}