* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

/* Styling for the logo section */
.logo {
    margin-bottom: 20px; /* Space between logo and form */
    text-align: center;
}

.logo h1 {
    font-size: 3em;
    color: #333;
}

.logo p {
    margin-top: 10px;
    color: #666;
}
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    background-color: #f4f4f9;
    background-image: url("../images/login_background.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.login-container h1 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
