.category {
    margin-top: 40px;
    padding: 120px 100px;
    position: relative;
}
.fantasy{
    background-color: blueviolet;
}
.history{
    background-color: orangered;
}
.sci-fi{
    background-color: lightseagreen;
}
.marine-biology{
    background-color: lightsalmon;
}

.show-more-button {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: large;
    font-family: Georgia;
}

.show-more-button:hover {
    background-color: navajowhite;
    color: black;
}

.fantasy-title {
    position: absolute;
    top: 0px;
    left: 10px;
    color: white;
    font-size: x-large;
    font-family: Georgia;
}
.sci-fi-title {
    position: absolute;
    top: 0px;
    left: 10px;
    color: white;
    font-size: x-large;
    font-family: Georgia;
}
.history-title {
    position: absolute;
    top: 0px;
    left: 10px;
    color: white;
    font-size: x-large;
    font-family: "Palatino Linotype";
}
.marine-biology-title{
    position: absolute;
    top: 0px;
    left: 10px;
    color: white;
    font-size: x-large;
    font-family: Tahoma;
}